{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 mb-3">
    <div class="row">
        {% for category in category_view %}
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="mt-5">
                    <h3 class="heading">{{category.title}}<br></h3>
                    <p>{{category.description}}</p>
                    <div class="mt-5">
                        <div class="mt-3"> <span class="text1">{{category.number_of_quizes}}<span class="text2"></span></span> </div>
                    </div>
                    <a href="#" class="btn btn-primary">Start quiz</a>
                </div>
            </div>  
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
